fastapi
uvicorn
sqlmodel
mysql-connector-python
python-multipart
python-dotenv
pdfplumber
PyMuPDF
deep-translator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
httpx
openai
chromadb
pysqlite3-binary
edge-tts
ebooklib
Pillow
